@import "tailwindcss";

:root {
  name: "dark";
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(58% 0.233 277.117);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

html {
  font-family: "Cormorant", sans-serif;
  background: var(--color-base-100);
  color: var(--color-base-content);
  scroll-behavior: smooth;
}

.color-base-100 {
  background-color: var(--color-base-100);
}
.color-base-200 {
  background-color: var(--color-base-200);
}
.color-base-300 {
  background-color: var(--color-base-300);
}
.color-neutral {
  background-color: var(--color-neutral);
}
.color-accent {
  background-color: var(--color-accent);
}
.color-info {
  background-color: var(--color-info);
}
.color-primary {
  background-color: var(--color-primary);
}
.color-primary-hover:hover {
  background-color: var(--color-primary);
}
.color-secondary {
  background-color: var(--color-secondary);
}
.color-success {
  background-color: var(--color-success);
}
.color-success-hover:hover {
  background-color: var(--color-success);
}
.color-error {
  background-color: var(--color-error);
}
.color-warning {
  background-color: var(--color-warning);
}
.color-warning-hover:hover {
  background-color: var(--color-warning);
}

.color-base-content {
  color: var(--color-base-content);
}
.color-neutral-content {
  color: var(--color-neutral-content);
}
.color-accent-content {
  color: var(--color-accent-content);
}
.color-info-content {
  color: var(--color-info-content);
}
.color-primary-content {
  color: var(--color-primary-content);
}
.color-primary-content-hover:hover {
  color: var(--color-primary-content);
}
.color-secondary-content {
  color: var(--color-secondary-content);
}
.color-success-content {
  color: var(--color-success-content);
}
.color-success-content-hover:hover {
  color: var(--color-success-content);
}
.color-error-content {
  color: var(--color-error-content);
}
.color-warning-content {
  color: var(--color-warning-content);
}
.color-warning-content-hover:hover {
  color: var(--color-warning-content);
}

.solid-border {
  border: var(--border);
}

@layer utilities {
  .animate-blink {
    animation: blink 0.75s step-end infinite;
  }
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }

  /* calculated according to parent of 200px and child of 90px in width */
  .animate-loading-bar {
    animation: loading 0.75s ease infinite;
  }
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(calc((200 * 100%) / 90));
    }
  }
}

.reveal {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease, transform 0.7s ease;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
}
